extends ../layout
block content

  .row.app-card.mb-2.align-items-center.justify-content-between.bg-white.p-2.m-0
    .col-auto
      h1.app-page-title.mb-0 Properties
    .col-auto
      .page-utilities
        .row.g-2.justify-content-start.justify-content-md-end.align-items-center
          .col-auto
            form.table-search-form.row.gx-1.align-items-center
              .col-auto
                input#search-orders.form-control.search-orders(type='text', name='searchorders', placeholder='Search')
              .col-auto
                button.btn.app-btn-secondary(type='submit') Search
          .col-auto
            form.lang-filter
              select.form-select.w-auto(name="lang" onchange="$('form.lang-filter').submit()")
                option(value="") Language
                each lang in langList
                  -if(currentLang === lang.value)
                    option(value=lang.value selected="") #{lang.title}
                  -else
                    option(value=lang.value ) #{lang.title}
          .col-auto
            a.btn.app-btn-primary(href='/properties/create')
              i.fa.fa-plus
              | &nbsp;Create Property
      
  div.row(style="margin: 0px 1px")
    -if(flashMessage.length>0)
      div.alert.alert-success(role='alert')
        each mgs in flashMessage
          li=mgs

  div.app-card.app-card-orders-table.shadow-sm.mb-5
    div.app-card-body
      div.table-responsive
        table.table.app-table-hover.mb-0.text-left
          thead
            tr
              th.cell SL#
              th.cell Property Name
              th.cell Type
              th.cell Area
              th.cell Dev Type
              th.cell Developer
              th.cell Language
              th.cell Created At
              th.cell.text-center Action
          tbody
            -var sl=1
            each property in properties
              tr
                td.cell=sl++
                td.cell=property.propertyName
                td.cell=property.propertyType.name
                td.cell=property.propertyArea.areaName
                td.cell=property.developmentType.name
                td.cell=property.developerType.name
                td.cell=property.lang
                td.cell
                  span=fmt.date.pretty(property.createdAt)+' '+fmt.date.Time12(property.createdAt)
                td.cell.text-center
                  a.btn.app-btn-info.btn-sm(href="#") Update
                  a.btn.app-btn-danger.btn-sm.ms-2(href='/properties/delete/'+property._id  onclick="return confirm('Are you sure you want to delete this property?');") Delete
                  a.btn.app-btn-primary.btn-sm.ms-2(href="#") View
                  a.btn.app-btn-primary.btn-sm.ms-2(href='/properties/create/'+property.propertyNo) Add Language